

@{
    ViewBag.Title = "Cadastro";
}

<script type="text/javascript">
   
</script>
<h2>Cadastro</h2>
<div ng-app="candidatosApp" ng-controller="CadastroController">

    <form name="userForm" >
        <div class="row">
            <div class="form-group col-md-3">
                <label for="nome" class="control-label">
                    Nome:
                </label>
                <input type="text" class="form-control" id="nome" ng-model="nome" required />
                <span class="error" ng-show="userForm.nome.$error.required"> Campo requerido! </span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3">
                <label for="cpf" class="control-label">
                    CPF:
                </label>
                <input type="text" class="form-control" id="cpf" onBlur="ValidarCPF(userForm.cpf);"
                       onKeyPress="MascaraCPF(userForm.cpf);" maxlength="14" ng-model="cpf" required />
                <span class="error" ng-show="userForm.cpf.$error.required"> Campo requerido! </span>
            </div>
            <div class="form-group col-md-3">
                <label for="email" class="control-label">
                    Email:
                </label>
                <input type="email" class="form-control" id="email" ng-model="email" ng-pattern="emailFormat" required />
                <span class="error" ng-show="userForm.email.$error.required"> Campo requerido! </span>
                <span class="error" ng-show="(userForm.$dirty||submitted)&&userForm.$error.email">Email inválido</span>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-3">
                <label for="telefone" class="control-label">
                    Telefone:
                </label>
                <input type="text" class="form-control" id="telefone" maxlength="14" onKeyPress="MascaraTelefone(userForm.telefone);" ng-model="telefone" />
            </div>
            <div class="form-group col-md-3">
                <label for="celular" class="control-label">
                    Celular:
                </label>
                <input type="text" class="form-control" id="celular" maxlength="15" onKeyPress="MascaraTelefone(userForm.celular);" ng-model="celular" />
            </div>

        </div>
        <div class="row">
            <div class="form-group col-md-3">
                <label for="perfil" class="control-label">
                    Perfil:
                </label>
                <select class="form-control" id="perfil" ng-model="idPerfil">
                    <!--ng-options="c.Value as c.Text for c in perfis" -->
                    <!--ng-change="getStates()">-->
                    <option value="">-- Seleccione perfil --</option>
                    <option ng-repeat="item in perfis1" value="{{item[0]}}">{{item[1]}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="form-group  col-md-10">
                <label class="control-label">
                    Especialidades:
                </label>
                <label ng-repeat="x in especialidades">
                    <input type="checkbox" name="idespecialidade" ng-checked="especialidadeSelecionada.indexOf(x.id) > -1"
                           ng-click="toggleSelection(x.id)" value="{{x.id}}"> {{x.nome}}
                </label>
            </div>
        </div>
        <div class="row">
            <div class="form-group  col-md-2">
                <label class="control-label">
                    CEP:
                </label>

            </div>
        </div>
        <div class="row">
            <div class="form-group  col-md-2">

                <input type="text" onKeyPress="MascaraCep(userForm.cep);"
                       maxlength="10"
                       id="cep"
                       class="form-control" ng-model="cep" ng-keypress="enter($event)">
                <span class="error" ng-show="userForm.cep.$error.required"> Campo requerido! </span>
            </div>
            <div class="form-group  col-md-2">
                <button class="btn btn-primary" ng-click="busca()">Buscar</button>
            </div>
        </div>
        <div class="row">
            <div class="form-group   col-md-3">
                <label class="control-label">
                    Logradouro:
                </label>
                <input type="text" class="form-control" ng-model="local_encontrado.logradouro" />




            </div>
            <div class="form-group col-md-3">
                <label class="control-label">
                    Bairro:
                </label>
                <input type="text" class="form-control" ng-model="local_encontrado.bairro" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3">
                <label class="control-label">
                    Cidade:
                </label>
                <input type="text" class="form-control" ng-model="local_encontrado.cidade" />

            </div>
            <div class="form-group col-md-1">
                <label class="control-label">
                    Estado:
                </label>
                <input type="text" class="form-control" ng-model="local_encontrado.estado" />

            </div>
        </div>
        <div class="row">
            <div class="form-group  col-md-7">
                <label class="control-label">
                    Curriculo:
                </label>
                <input ng-model="curriculum" type="file" name="myFile" accept="application/pdf,application/msword,
  application/vnd.openxmlformats-officedocument.wordprocessingml.document" file-upload />

                <label>
                    Somente serão aceitos arquivos no formato PDF, DOC e DOCX.
                </label>

            </div>
        </div>
        <div class="row">
            <div class="form-group  col-md-7">

                <input type="button" class="btn btn-primary" value="Enviar" data-ng-click="save()" />
            </div>
        </div>
    </form>

    @section scripts{
        <script type="text/javascript" src="@Url.Content("~/Scripts/angular.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.10.2.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/angular-route.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/angular-resource.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/CadastroController.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/MascaraValidacao.js")"></script>

    }
</div>