@{
    ViewBag.Title = "Consulta";
}

<div ng-app="consultaApp" ng-controller="ConsultaController">

    <form name="userForm" ng-submit="buscar()">
        <div class="panel panel-default" style="background: none;">
            <div class="panel-heading">
                <h4 class="h4">
                    Consulta de Candidatos
                </h4>
            </div>
            <div class="form-group">

            </div>
            <div class="form-group">
                <label class="control-label col-md-2 ">Perfil</label>
                <div class="col-md-9">
                    <select class="form-control" id="perfil" ng-model="idPerfil">
                        <option ng-repeat="item in perfis1" value="{{item[0]}}">{{item[1]}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2 ">Especialidades</label>
                <div class="col-md-9">
                    <label ng-repeat="x in especialidades">
                        <input type="checkbox" name="idespecialidade"
                               ng-model="x.checked"
                               ng-checked="especialidadeSelecionada.indexOf(x.id) > -1"
                               ng-required="especialidadeSelecionada.length==0"
                               ng-click="toggleSelection(x.id)" value="{{x.id}}"> {{x.nome}}
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class=" col-md-2 control-label">Cidade</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="cidade" maxlength="30" ng-model="cidade" />
                </div>
            </div>
            <div class="form-group  col-md-2">
                <input type="submit" class="btn btn-primary" value="Buscar" ng-disabled="userForm.$invalid" />
            </div>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Perfil</th>
                        <th>Celular</th>
                        <th>Email</th>
                        <th>Cidade</th>
                        <th>Curriculo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="candidato in candidatos">
                        <td> {{candidato.Nome}} </td>
                        <td> {{ obterperfil(candidato.IdPerfil) }}  </td>
                        <td> {{candidato.Celular}} </td>
                        <td> {{candidato.Email}} </td>
                        <td> {{candidato.EnderecoCidade}} </td>
                        <td><a ng-click="downloadFile(candidato.Curriculo)">{{candidato.Curriculo}} </a></td>


                    </tr>
                </tbody>
            </table>

        </div>

    </form>

    @section scripts{
        <script type="text/javascript" src="@Url.Content("~/Scripts/angular.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.10.2.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/angular-route.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/angular-resource.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/ConsultaController.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/MascaraValidacao.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/bower_components/angular-input-masks/angular-input-masks-standalone.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/bower_components/angular-file-saver/dist/angular-file-saver.bundle.js")"></script>
    }
</div>
