@{
    ViewBag.Title = "Cadastro";
}
<h2>Cadastro</h2>

<div ng-app="candidatosApp" ng-controller="CadastroController">
    <form role="form" style="max-width: 500px;">

        <div class="form-group">
            <label for="nome">
                Nome:
            </label>
            <input type="text" class="form-control" id="nome" ng-model="nome" />
        </div>
        <div class="form-group">
            <label for="cpf">
                CPF:
            </label>
            <input type="text" class="form-control" id="cpf" ng-model="cpf" />
        </div>
        <div class="form-group">
            <label for="telefone">
                Telefone:
            </label>
            <input type="text" class="form-control" id="telefone" ng-model="telefone" />
        </div>
        <div class="form-group">
            <label for="celular">
                Celular:
            </label>
            <input type="text" class="form-control" id="celular" ng-model="celular" />
        </div>
        <div class="form-group">
            <label for="perfil">
                Perfil:
            </label>
            <select class="form-control" id="perfil" ng-model="idperfil">
                <!--ng-options="c.Value as c.Text for c in perfis" -->
                <!--ng-change="getStates()">-->
                <option value="">-- Seleccione perfil --</option>
                <option ng-repeat="item in perfis" value="{{item[0]}}">{{item[1]}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="idendereco">
                Endereço:
            </label>
            <select class="form-control" id="idendereco" ng-model="idendereco" ng-options="c.Value as c.Text for c in perfis">
                <!--ng-options="c.Value as c.Text for c in perfis" -->
                <!--ng-change="getStates()">-->
                <option value="">-- Seleccione perfil --</option>
            </select>
        </div>
        <label ng-repeat="x in especialidades">
            <input type="checkbox" checklist-model="user.especialidades" checklist-value="x.id"> {{x.nome}}
        </label>
        <div class="form-group">
            <input type="button" value="Salvar" data-ng-click="save()" />
        </div>
    </form>
    @section scripts{
        <script type="text/javascript" src="@Url.Content("~/Scripts/angular.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/angular-route.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/angular-resource.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/CadastroController.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/bower_components/angular-viacep/dist/angular-viacep.min.js")"></script>
    }
</div>